In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

df = pd.read_csv('mydata.csv')
df = df.drop_duplicates()
df.rename(columns={'spoken language': 'spoken'}, inplace=True)
df.rename(columns={'gloss-level sentence': 'gloss'}, inplace=True)
df = df[['gloss', 'spoken']]
df

                        gloss                         spoken
0               선생님 숙제 오늘 있다?                선생님, 오늘 숙제 있어요?
1                  나 공부하다 좋다.               공부하는 걸 정말 좋아합니다.
2                  수학 시험 어렵다!                   수학 시험은 어려웠어!
3                    숙제 제출하다.                     숙제를 제출하세요.
4                 이 요리 가격 얼마?                    이 요리는 얼마에요?
...                       ...                            ...
2818   선생님 수업 때 물 마시다 되다 하다 .  선생님께서는 수업 시간에 물을 마셔도 된다고 하셨어.
2819         수업 중 채팅 하다 안하다 .           수업 중에는 채팅을 하지 말아야 해.
2820     수업 내용 이해 안되다 부분 있다 .       수업 내용 중에 이해 안 되는 부분이 있어.
2821    내일 수학 수업 첫 시간 퀴즈 있다 .        내일은 수학 수업 첫 시간에 퀴즈가 있어.
2822       수업 끝나다 선생님 질문 하다 .         수업 끝나고 선생님께 질문 좀 할 거야.

[2764 rows x 2 columns]

In [2]:
replace_tuples = [
    ('.', ' .'), ('?', ' ?'), ('!', ' !'), ('  ', ' '), 
    ('얼마다', '얼마'), ('얼마이다', '얼마'), ('어디다', '어디'), 
    ('뭐이다', '무엇'), (' 뭐 ', ' 무엇 '), ('가능하다', '가능'), 
    ('하다 수 있다', '가능'), (' 수 있다', '가능'), ('적이다', '적'), 
    ('거이다', '것이다'), ('하다 하다', '하다')
]

for old, new in replace_tuples:
    df['gloss'] = df['gloss'].str.replace(old, new)

condition = ~df['gloss'].str.endswith(('.', '?', '!'))
df.loc[condition, 'gloss'] = df.loc[condition, 'gloss'] + " ."
df

                        gloss                         spoken
0              선생님 숙제 오늘 있다 ?                선생님, 오늘 숙제 있어요?
1                 나 공부하다 좋다 .               공부하는 걸 정말 좋아합니다.
2                 수학 시험 어렵다 !                   수학 시험은 어려웠어!
3                   숙제 제출하다 .                     숙제를 제출하세요.
4                이 요리 가격 얼마 ?                    이 요리는 얼마에요?
...                       ...                            ...
2818   선생님 수업 때 물 마시다 되다 하다 .  선생님께서는 수업 시간에 물을 마셔도 된다고 하셨어.
2819         수업 중 채팅 하다 안하다 .           수업 중에는 채팅을 하지 말아야 해.
2820     수업 내용 이해 안되다 부분 있다 .       수업 내용 중에 이해 안 되는 부분이 있어.
2821    내일 수학 수업 첫 시간 퀴즈 있다 .        내일은 수학 수업 첫 시간에 퀴즈가 있어.
2822       수업 끝나다 선생님 질문 하다 .         수업 끝나고 선생님께 질문 좀 할 거야.

[2764 rows x 2 columns]

In [3]:
filtered_row = df[df['gloss'].str.contains('하다 안하다')]
filtered_row

                  gloss                spoken
1620     목표치 도달하다 안하다 .       목표치에 도달하지 못했어요.
2819   수업 중 채팅 하다 안하다 .  수업 중에는 채팅을 하지 말아야 해.

In [4]:
conditions = [
    df['gloss'].str.endswith('.'), 
    df['gloss'].str.endswith('?'),
    df['gloss'].str.endswith('!')
]
choices = [0, 1, 2]
df['label'] = np.select(conditions, choices, default=-1)
df

                        gloss                         spoken  label
0              선생님 숙제 오늘 있다 ?                선생님, 오늘 숙제 있어요?      1
1                 나 공부하다 좋다 .               공부하는 걸 정말 좋아합니다.      0
2                 수학 시험 어렵다 !                   수학 시험은 어려웠어!      2
3                   숙제 제출하다 .                     숙제를 제출하세요.      0
4                이 요리 가격 얼마 ?                    이 요리는 얼마에요?      1
...                       ...                            ...    ...
2818   선생님 수업 때 물 마시다 되다 하다 .  선생님께서는 수업 시간에 물을 마셔도 된다고 하셨어.      0
2819         수업 중 채팅 하다 안하다 .           수업 중에는 채팅을 하지 말아야 해.      0
2820     수업 내용 이해 안되다 부분 있다 .       수업 내용 중에 이해 안 되는 부분이 있어.      0
2821    내일 수학 수업 첫 시간 퀴즈 있다 .        내일은 수학 수업 첫 시간에 퀴즈가 있어.      0
2822       수업 끝나다 선생님 질문 하다 .         수업 끝나고 선생님께 질문 좀 할 거야.      0

[2764 rows x 3 columns]

In [18]:
df.to_csv('mydata(edited).csv', index=False)

In [1]:
import torch
print(torch.__version__)
print(torch.cuda.is_available())
print(torch.cuda.get_device_name(0))

1.13.1
True
NVIDIA GeForce RTX 3090